.widget {
    background: $azul-claro;
    margin-bottom: $size_extra;
}

.widget-header {
    background: $azul-medio;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $size_mediana;
}

.widget-header-titulo {
    margin: 0;
}

.widget-message{
    color: $off-white;
    margin: 0;
    padding: $size_mediana;
    text-align: center;
    border-bottom: 1px solid lighten($azul-claro, 10%);
}