// rem
html{
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $size_mediana;
    background-color: $azul-fondo;
}

button {
    cursor: pointer;
}


button:disabled {
    cursor:default;
}