// $off_black: #000000;
// $off_white: #e6e6e9;

// $azul-fondo: #08090a;
// $azul-medio: #212736;
// $azul-claro: #4658a1;

// $purpura: #5405c9;


$off_black: #20222b;
$off_white: #a5afd7;

$azul-fondo: #333745;
$azul-medio: #3c4251;
$azul-claro: #464b5e;

$purpura: #8357c5;

$size_peque: 1.2rem;
$size_mediana: 1.6rem;
$size_grande: 3.2rem;
$size_extra: 4.8rem;

$desktop_breakpoint: 40rem;
